#textoverde {
  color: red;
}

#p01 {
  color: red;
  font-family: Times New Roman;
  font-style: italic;
  font-size: 20px;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
